@{
    ViewData["Title"] = "Archery shop";
}

<main>
    <div class="edit-product">
        <a href="@Url.Action("Create", "Product")" class="btn btn-primary">Add new product</a>
    </div>
    <section class="featured-products">
        @foreach (var product in Model)
        {
            <div class="product">
                <h4>@product.Name</h4>
                <a href="@Url.Action("Details", "Product", new { id = product.ID })">
                    <img src="@product.ImageUrl" alt="@product.Name">
                </a>
                <div class="product-info">
                    <p>Price: €@product.Price.ToString("0.00")</p>
                    <a href="@Url.Action("Edit", "Product", new { id = product.ID })" class="btn btn-primary">Edit</a>
                    <a href="@Url.Action("Delete", "Product", new { id = product.ID })" class="btn btn-yori">Delete</a>
                    <button class="btn btn-primary">Add to Cart</button>
                </div>

            </div>
        }
    </section>
</main>