@model UserModel
@{
    ViewData["Title"] = "Login";
}
<main>
    <h2>Login</h2>

    @using (Html.BeginForm("Login", "User", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <div class="form-group">
            @Html.LabelFor(model => model.Name)
            @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Password)
            @Html.PasswordFor(model => model.Password, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Password)
        </div>

        <button type="submit" class="btn btn-primary">Login</button>
        <a href="@Url.Action("Register", "User")" class="btn btn-primary">Register</a> //redirect user to register page
    }
    @if (ViewData.ModelState.ContainsKey("") && ViewData.ModelState[""].Errors.Any())
    {
        <div class="alert alert-danger">@ViewData.ModelState[""].Errors.FirstOrDefault()?.ErrorMessage</div>
    }
</main>